<div class="game-screen row">
  
    <div class="map col-lg-8">
      <div>
        <div [hidden]="!sessionActive" id="map">
        </div>
      </div>
       
      
        <div  class="congrats" *ngIf="!sessionActive">
            <span class="congratsTest">Winning country is {{won}} 🥳</span>
        </div>
    </div>
    <div class="right col-lg-4">
        <div class="leaderboard">

        </div>
        <div *ngIf="sessionActive" class="elements">
            <table class="table table-dark">
                <tr>
                    <th>Country</th>
                    <th>Points</th>
                </tr>
                <tr *ngFor="let item of scores">
                    <td>{{item.country}}</td>
                    <td>{{item.score}}</td>
                </tr>
            </table>
            <div class="timer">
                {{ this.timerText }}
            </div>
            <div class="info">
                <span>Ask others to join WorldMasters to increase your country's points</span>
            </div>
            <button class="btn btn-primary" (click)="copyUrlClick()">Copy game link</button>
        </div>
        <div *ngIf="!sessionActive" class="elements">
            <div class="info">
                <span>Current game session was ended.</span>
            </div>
            <button class="btn btn-primary" (click)="startAgain()">Go to main menu!</button>
        </div>
    </div>
</div>