
.game-screen {
    .info {
        color: #ffffff;
        font-size: 16px;
        padding: 20px 0px;
    }
    
    .elements {
        text-align: center;
    }

    .timer {
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
    }

    .congrats {
        padding-top: 40vh;
        text-align: center;
        color: #ffffff;
        font-size: 48px; 
    }

    .right {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
    }
}



