.game-screen {
    .info {
        color: #ffffff;
        font-size: 16px;
        padding: 20px 0px;
    }
    
    .elements {
        text-align: center;
    }

    .timer {
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
    }
}