
<div class="starter-box">
    <img src="../../../assets/logo.png"/>
    <div *ngIf="requestingSession" class="elements">
        <div class="info">
            <span>🤗 Please wait...</span>
        </div>
    </div>

    <div *ngIf="!requestingSession" class="elements">
        <div *ngIf="hasSession()">
            <div class="info">
                <span>💡 There is a running WorldMasters challenge right now.</span>
            </div>
            <button class="btn btn-primary" (click)="joinGame()">Join current game!</button>
        </div>
        <div *ngIf="!hasSession()">
            <div class="info">
                <span>💡 No WorldMasters challenge running right now.</span>
            </div>
            <button class="btn btn-primary" (click)="joinGame()">Start a new game!</button>
        </div>
    </div>
</div>