<script src="http://www.nodeknockout.com/entries/8-codemasters/vote.js" type="text/javascript"></script>
<div class="starter-box">
    <img src="../../../assets/logo.png"/>
    <div *ngIf="requestingSession" class="elements">
        <div class="info">
            <span>🤗 Please wait...</span>
        </div>
    </div>

    <div *ngIf="!requestingSession" class="elements">
        <div *ngIf="hasSession()">
            <div class="info">
                <span>💡 There is a running WorldMasters challenge right now.</span>
            </div>
            <select class="form-control" [(ngModel)]="country">
                <option *ngFor="let country of countryList" value="{{country}}">{{ country }}</option>
            </select>
            <button class="btn btn-primary" (click)="joinGame()">Join current game!</button>
        </div>
        <div *ngIf="!hasSession()">
            <div class="info">
                <span>💡 No WorldMasters challenge running right now.</span>
            </div>
            <select class="form-control" [(ngModel)]="country">
                <option *ngFor="let country of countryList" value="{{country}}">{{ country }}</option>
            </select>
            <button class="btn btn-primary" (click)="joinGame()">Start a new game!</button>
        </div>
    </div>
</div>